In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [ ]:
x = np.array([68,91,60,67]) 
# help(np.argsort)
# argsort = 값들을 정렬시켜줌 , 반환값 : index 
print(x.argsort()[::])
print(x.argsort()[::-1])

In [ ]:
def colName(x):
    return df.colims[x.argsort()[::-1]]

In [ ]:
seedNum = range(100,104)
sub = ["eng","math","kor","sci"]
# testdf= [sub for num,subject in  seedNum,sub]
df = pd.DataFrame()
for num,subject in zip(seedNum,sub):
    np.random.seed(num)
    df[subject] = np.random.randint(60,100,100000)
df

In [ ]:
result = df.apply(lambda x : df.columns[x.argsort()[::-1]],axis = 1)
result

In [ ]:
subject = pd.DataFrame(np.concatenate(result).reshape(-1,4))
subject.columns = ['sub1','sub2','sub3','sub4']
subject

In [ ]:
# 데이터프레임 묶기

# 아래와 같이 concat을 하면 , df밑에 subject가 붙어버린다.
# pd.concat([df,subject],axis =0)

#칼럼을 추가 해 주는 것 이니, axis를 1로 주어야 한다.
df = pd.concat([df,subject],axis =1)

In [ ]:
# df['total'] = df.apply(sum,axis=1)
df['total'] = df[sub].apply(sum,axis=1)
df['avg'] = df[sub].apply(np.mean,axis = 1)
df =  df[[	
    "eng",
    "math",
    "kor",
    "sci",
    "total",
    "avg",
    "sub1",
    "sub2",
    "sub3",
    "sub4"
]]

In [ ]:
# df.loc[조건, 칼럼들]
# df.loc[boolean, 칼럼들]
df.loc[:,["sub1","sub2","sub3","sub4"]]
df.loc[df.sub1 == "math",:]

In [ ]:
df.sub1 == 'math'
# df.iloc[df.sub1.values =='math',:]
df.iloc[df.sub1.values =='math',:]

In [ ]:



# 1.수학을 제일 잘하는 사람들의 영어 평균
print(df.loc[df.sub1.values =='math','eng'].mean())
print(df.iloc[df.sub1.values =='math',0].mean())
# 2.영어을 제일 잘하는 사람들의 수학 평균
print(df.loc[df.sub1 =='eng','math'].mean())
print(df.iloc[df.sub1.values =='eng',1].mean())
# 3.제일 못한 과목은 어떤 과목인가?
print(df.loc[:,'sub4'].describe()['top'])
df.iloc[:,0:4].apply(np.mean,axis=0)

In [ ]:
# np.exp(df[sub]).apply(sum,axis =1  )
# np.exp(df[sub])
def xx (x):
        return np.exp(x)/np.sum(np.exp(x))

xx(np.array([1,2,3,4]))
result = df.iloc[:,0:4].apply(lambda x : np.exp(x)/np.sum(np.exp(x)) , axis =1)

In [ ]:
# df.drop([],axis=1)
df.columns

In [ ]:
# 칼럼별 order 정하기!
df.sort_values(by = ['sub1','sub2'],axis=0 ,ascending=[True,False] ).reset_index()

In [ ]:
# 병합 하기 위한 두개의 DataFrame 생성
## 첫번째 DataFrame 생성
weight = np.random.randint(10,100,100)
height = np.random.randint(10,30,100)
kind = np.random.randint(0,2,100)
kind = np.where(kind == 0,'dog','cat')
data = zip(kind,weight,height)
left = pd.DataFrame(data)
left.columns = ['kind','weight','height']
## 두번째 DataFrame 생성
weight = np.random.randint(10,100,100)
height = np.random.randint(10,30,100)
kind = np.random.randint(0,2,100)
kind = np.where(kind == 0,'dog','cat')
data = zip(kind,weight,height)
right = pd.DataFrame(data)
right.columns = ['kind','weight','height']
df1 = pd.merge(left,right, on=['kind','weight'],how='outer')
df2 = pd.merge(left,right, on=['kind','weight'],how='inner')

In [ ]:

print(left.append(right,ignore_index=False).index.value_counts())
print(np.unique(left.append(right,ignore_index=False).index,return_counts =True))

In [12]:
#csv 읽어오기.
df =pd.read_csv("../data/us_new_born_2million.csv")
df

,weight_pounds,state,year,month,child_race,plurality,mother_race,mother_age,cigarette_use,cigarettes_per_day,alcohol_use,drinks_per_week,father_race,father_age,is_male,gestation_weeks
0,7.813183,GA,2003,9,NaN,1,1.0,34,False,NaN,False,NaN,1.0,39,False,39
1,8.000575,GA,2003,1,NaN,1,1.0,37,True,15.0,True,0.0,1.0,31,True,41
2,7.251004,GA,2003,12,NaN,1,1.0,30,False,NaN,False,NaN,1.0,38,False,40
3,9.568062,GA,2003,4,NaN,1,7.0,39,False,NaN,False,NaN,1.0,39,True,40
4,7.187070,GA,2004,2,NaN,1,1.0,38,False,NaN,False,NaN,1.0,39,True,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998241,7.228958,HI,2003,9,NaN,1,38.0,35,False,NaN,False,NaN,99.0,99,True,40
1998242,6.375769,IL,2003,1,NaN,1,2.0,32,True,6.0,True,0.0,99.0,99,True,38
1998243,6.375769,MD,2004,8,NaN,1,2.0,30,False,NaN,False,NaN,99.0,48,False,39
1998244,6.750554,MS,2004,12,NaN,2,2.0,29,False,NaN,False,NaN,99.0,99,False,40
1998245,5.690131,NY,2003,10,NaN,1,2.0,31,True,9.0,True,0.0,99.0,99,True,38

In [17]:
# 빈데이터가 70%이상인 칼럼은 지운다.
df.drop(
    df.isna().sum()[
        df.isna().sum()/df.plurality.size >= 0.7].index
        ,axis=1,inplace = True)
df

,weight_pounds,state,year,month,plurality,mother_race,mother_age,cigarette_use,alcohol_use,father_race,father_age,is_male,gestation_weeks
0,7.813183,GA,2003,9,1,1.0,34,False,False,1.0,39,False,39
1,8.000575,GA,2003,1,1,1.0,37,True,True,1.0,31,True,41
2,7.251004,GA,2003,12,1,1.0,30,False,False,1.0,38,False,40
3,9.568062,GA,2003,4,1,7.0,39,False,False,1.0,39,True,40
4,7.187070,GA,2004,2,1,1.0,38,False,False,1.0,39,True,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998241,7.228958,HI,2003,9,1,38.0,35,False,False,99.0,99,True,40
1998242,6.375769,IL,2003,1,1,2.0,32,True,True,99.0,99,True,38
1998243,6.375769,MD,2004,8,1,2.0,30,False,False,99.0,48,False,39
1998244,6.750554,MS,2004,12,2,2.0,29,False,False,99.0,99,False,40
1998245,5.690131,NY,2003,10,1,2.0,31,True,True,99.0,99,True,38

In [18]:
# 로우의 데이터의 빈 데이터가 30% 이상이면 지운다

df.columns.size
def xxx(x):
    return x.isna().sum()/df.columns.size
# df.apply(xxx,axis=1)
result = np.where(np.sum(df.isna(),axis=1)/df.columns.size >0.3,'x','y')
# np.sum(result == 'x')
result

array(['y', 'y', 'y', ..., 'y', 'y', 'y'], dtype='<U1')

In [23]:
# pd.Series(result)[pd.Series(result) == 'x']
cl_df = df.iloc[pd.Series(result)[pd.Series(result) == 'y'].index , :]
cl_df

,weight_pounds,state,year,month,plurality,mother_race,mother_age,cigarette_use,alcohol_use,father_race,father_age,is_male,gestation_weeks
0,7.813183,GA,2003,9,1,1.0,34,False,False,1.0,39,False,39
1,8.000575,GA,2003,1,1,1.0,37,True,True,1.0,31,True,41
2,7.251004,GA,2003,12,1,1.0,30,False,False,1.0,38,False,40
3,9.568062,GA,2003,4,1,7.0,39,False,False,1.0,39,True,40
4,7.187070,GA,2004,2,1,1.0,38,False,False,1.0,39,True,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998241,7.228958,HI,2003,9,1,38.0,35,False,False,99.0,99,True,40
1998242,6.375769,IL,2003,1,1,2.0,32,True,True,99.0,99,True,38
1998243,6.375769,MD,2004,8,1,2.0,30,False,False,99.0,48,False,39
1998244,6.750554,MS,2004,12,2,2.0,29,False,False,99.0,99,False,40
1998245,5.690131,NY,2003,10,1,2.0,31,True,True,99.0,99,True,38

In [16]:
df.iloc[375,:]
# 나머지 칼럼은 채운다.

weight_pounds         6.375769
state                       KY
year                      2003
month                        9
child_race                 NaN
plurality                    1
mother_race                1.0
mother_age                  21
cigarette_use              NaN
cigarettes_per_day         NaN
alcohol_use                NaN
drinks_per_week            NaN
father_race                1.0
father_age                  29
is_male                   True
gestation_weeks             38
Name: 375, dtype: object