In [1]:
## Series
import numpy as np
import pandas as pd
np.random.seed(100)
data =np.random.randint(1 ,10,100)
ind = ['X'+str(i) for i in np.arange(1,101)]
obj = pd.Series(data,index = ind)

In [2]:
obj.sort_values(ascending = False)

X1     9
X15    9
X53    9
X2     9
X48    9
      ..
X43    1
X89    1
X88    1
X17    1
X39    1
Length: 100, dtype: int32

In [3]:
# 가장 많이 나오는 값을 찾아서 평균으로 바꾸시오


print ("pre obj \n",obj)
# print ("\npost obj \n",)
obj.replace(obj.value_counts().max(),obj.value_counts().mean())

pre obj
 X1      9
X2      9
X3      4
X4      8
X5      8
       ..
X96     8
X97     4
X98     3
X99     4
X100    9
Length: 100, dtype: int32

X1      9
X2      9
X3      4
X4      8
X5      8
       ..
X96     8
X97     4
X98     3
X99     4
X100    9
Length: 100, dtype: int32

In [5]:
## Series
import numpy as np
import pandas as pd
np.random.seed(100)
data =np.random.randint(1 ,10000,1000)
ind = ['X'+str(i) for i in np.arange(1,1001)]
obj = pd.Series(data,index = ind)

In [4]:
#pandas sort_values
#상위 30개 하위 30개 데이터의 평균
print(
    ( obj.sort_values()[:30].sum() + obj.sort_values()[-30:].sum() )/60
    )

# 인덱스 슬라이싱 해주기!
obj.index.str.slice(1,).astype('int32')

4.966666666666667

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
             79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
             92,  93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64')

In [8]:
int(obj.astype('str').describe()['top'])

325

In [9]:
obj.describe()

count    1000.000000
mean     5037.547000
std      2884.368104
min         3.000000
25%      2553.000000
50%      4957.500000
75%      7545.000000
max      9980.000000
dtype: float64

In [ ]:
import matplotlib as plt